.rlb__project__navbar{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    padding-top: 2em;
    max-width: 1440px;
    margin: 0 auto;
}
.rlb__project__navbar__button a{
text-align: center;
color: black;
margin-left: 1em;
margin-right: 1em;
text-decoration: none;
align-items: center;

}